{% extends 'base.html' %}
{% load static %}

{% block content %}
			<div class="shopMainText">КОРЗИНА</div>
			
			<div class="cartInfo">
				<div class="cartInfoItem">
					Изображение
				</div>
				<div class="cartInfoItem">
					Id - товара
				</div>
				<div class="cartInfoItem">
					Название
				</div>
				<div class="cartInfoItem">
					Размер Коробки
				</div>
				<div class="cartInfoItem">
					Цвет Коробки
				</div>
				<div class="cartInfoItem">
					Цена
				</div>
			</div>
			<div class="cartItems">
				
			</div>

{% endblock %}