{% extends 'base.html' %}
{% load static %}

{% block content %}
	<header class="shopWrapper">
	<div class="shopHeader">	
		
		<div class="header_sidebar">
			<div class="logo">
				<a href="index.html"><img src="img/logo.png" class="img-responsive" alt="Grand Delice"></a>
			</div>
			

			<nav class="menu">
					<ul>
						<a href="index.html" class="sidebarItem"><li>Главная</li></a>
						<a href="online_shop.html" class="sidebarItem"><li>Онлайн Бутик</li></a>
						<a href="composition.html" class="sidebarItem"><li>Индивидуальная композиция</li></a>
						<a href="#" class="sidebarItem"><li>Доставка и оплата</li></a>
						<a href="#" class="sidebarItem"><li>Консьерж</li></a>
						<a href="#" class="sidebarItem"><li>Корпоративным Клиентам</li></a>
						<a href="#" class="sidebarItem"><li>Франшиза</li></a>
						<a href="#" class="sidebarItem"><li>Партнеры</li></a>
						<a href="#" class="sidebarItem"><li>Контакты</li></a>
						<a href="#" class="sidebarItem active"><li>Корзина <span class="cartCount cartCountCart"></span></li></a>

					</ul>

			</nav>
			<div class="header_social">
				<div class="header_socialText">
					FOLLOW US
				</div>
				<div class="social_icons">
					<a href="#" class="icon iconFirst"><img src="img/facebook.png" alt=""></a>
					<a href="#" class="icon"><img src="img/instagram.png" alt=""></a>
					<a href="#" class="icon"><img src="img/vk.png" alt=""></a>
				</div>
			</div>
		</div>
		<div class="header_main">
			
<!-- 			<a href="index.html" class="logoHiddenWrapper"><div class="logoHidden">
			</div></a> -->

			<input type="checkbox" id="menu" hidden>
			<label class="menuCheckbox" for="menu"></label>
			
			<div class="hiddenMenu">
					<div class="logoHidden">
						
					</div>

					<ul>
						<a href="index.html" class="active"><li>Главная</li></a>
						<a href="online_shop.html"><li>Онлайн Бутик</li></a>
						<a href="composition.html"><li>Индивидуальная композиция</li></a>
						<a href="#"><li>Доставка и оплата</li></a>
						<a href="#"><li>Консьерж</li></a>
						<a href="#"><li>Корпоративным Клиентам</li></a>
						<a href="#" class="sidebarItem"><li>Франшиза</li></a>
						<a href="#"><li>Партнеры</li></a>
						<a href="#"><li>Контакты</li></a>
						<a href="#" class="sidebarItem"><li>Корзина <span class="cartCount"></span></li></a>
					</ul>
			</div>
			
			<div class="togle_mnu">
				<div class="hamburger1 menuBlack"></div>
				<div class="hamburger2 menuBlack"></div>
				<div class="hamburger3 menuBlack"></div>
			</div>
				

			<div class="shopMainText">КОРЗИНА</div>
			
			<div class="cartInfo">
				<div class="cartInfoItem">
					Изображение
				</div>
				<div class="cartInfoItem">
					Id - товара
				</div>
				<div class="cartInfoItem">
					Название
				</div>
				<div class="cartInfoItem">
					Размер Коробки
				</div>
				<div class="cartInfoItem">
					Цвет Коробки
				</div>
				<div class="cartInfoItem">
					Цена
				</div>
			</div>
			<div class="cartItems">
				
			</div>
				
			</div>
		</div>
	</header>
<script id="cartItems-template" type="text/template">
	<% _.each(cartItems, function(cartItem) { %>
			<div class="cartItem" 
			data-id="<%- cartItem.id %>" 
			data-name="<%- cartItem.name %>"
			data-color="<%- cartItem.color %>"
			data-size="<%- cartItem.size %>"
			data-price="<%- cartItem.price %>"
			>		
        		<div class="cartCell"><img src="<%- cartItem.img %>" alt="flower"></div>
        		<div class="cartCell"><%- cartItem.id %></div>
        		<div class="cartCell"><%- cartItem.name %></div>
        		<div class="cartCell"><%- cartItem.size %></div>
        		<div class="cartCell"><%- cartItem.color %></div>
        		<div class="cartCell"><%- cartItem.price %> грн.</div>
        	</div>	
    <% }); %>
</script>

<script src="libs/underscore/underscore.js"></script>
<script src="js/cart.js"></script>


{% endblock %}
