{% extends 'base.html' %}
{% load static %}
{% block content %}
	<header class="shopWrapper">
	<div class="shopHeader">	
		
		<div class="header_sidebar">
			<div class="logo">
				<a href="index.html"><img src="img/logo.png" class="img-responsive" alt="Grand Delice"></a>
			</div>
			

			<nav class="menu">
					<ul>
						<a href="{% url 'shop:home' %}" class="sidebarItem"><li>Главная</li></a>
						<a href="{% url 'shop:online_boutique' %}" class="sidebarItem active"><li>Онлайн Бутик</li></a>
						<a href="{% url 'shop:composition' %}" class="sidebarItem"><li>Индивидуальная композиция</li></a>
						<a href="#" class="sidebarItem"><li>Доставка и оплата</li></a>
						<a href="#" class="sidebarItem"><li>Корпоративным Клиентам</li></a>
						<a href="#" class="sidebarItem"><li>Франшиза</li></a>
						<a href="#" class="sidebarItem"><li>Партнеры</li></a>
						<a href="#" class="sidebarItem"><li>Контакты</li></a>
						<a href="#" class="sidebarItem"><li>Корзина <span class="cartCount"></span></li></a>

					</ul>

			</nav>
			<div class="header_social">
				<div class="header_socialText">
					FOLLOW US
				</div>
				<div class="social_icons">
					<a href="#" class="icon iconFirst"><img src="img/facebook.png" alt=""></a>
					<a href="#" class="icon"><img src="img/instagram.png" alt=""></a>
					<a href="#" class="icon"><img src="img/vk.png" alt=""></a>
				</div>
			</div>
		</div>
		<div class="header_main">
			
<!-- 			<a href="index.html" class="logoHiddenWrapper"><div class="logoHidden">
			</div></a> -->

			<input type="checkbox" id="menu" hidden>
			<label class="menuCheckbox" for="menu"></label>
			
			<div class="hiddenMenu">
					<div class="logoHidden">
						
					</div>

					<ul>
						<a href="index.html" class="active"><li>Главная</li></a>
						<a href="#"><li>Онлайн Бутик</li></a>
						<a href="composition.html"><li>Индивидуальная композиция</li></a>
						<a href="#"><li>Доставка и оплата</li></a>
						<a href="#"><li>Корпоративным Клиентам</li></a>
						<a href="#" class="sidebarItem"><li>Франшиза</li></a>
						<a href="#"><li>Партнеры</li></a>
						<a href="#"><li>Контакты</li></a>
						<a href="#" class="sidebarItem"><li>Корзина <span class="cartCount"></span></li></a>
					</ul>
			</div>
			
			<div class="togle_mnu">
				<div class="hamburger1 menuBlack"></div>
				<div class="hamburger2 menuBlack"></div>
				<div class="hamburger3 menuBlack"></div>
			</div>
				

			<div class="compositionMainText">Индивидуальная композиция</div>
			
			
			<div class="composition">
				
				<div class="compositionFlexWrapper">
					<div class="compositionLeft">

						<div class="compositionBoxColor">
							<div class="info_colorText">
							Цвет Коробки: 
							</div>
							<div class="info_colorSelect">
						
								<div class="colorSelectItem 
								colorBox-js
								black_box">
									<span class="hideColor" data-color="black">✔</span>
								</div>
								<div class="colorSelectItem 
								colorBox-js
								white_box">
									<span class="activeBoxColor-js" data-color="white">✔</span>
								</div>
								<div class="colorSelectItem 
								colorBox-js
								pink_box">
									<span class="hideColor" data-color="pink">✔</span>
								</div>
							</div>
						</div>


						<div class="compositionSize">
							<div class="info_sizeText">
							Размер Коробки:
							</div>
							<div class="sizeSelectWrapper">
								<div class="sizeSelectItem">
									<span class="sizeSelectSpan" data-size="S"><span class="centerLetter" >S</span></span>  - ( Диаметр 15см,Высота 16см )
								</div>
								<div class="sizeSelectItem">
									<span class="sizeSelectSpan activeSize" data-size="M"><span class="centerLetter" >M</span></span>  - ( Диаметр 20см,Высота 21см )
								</div>
								<div class="sizeSelectItem">
									<span class="sizeSelectSpan" data-size="L"><span class="centerLetter">L</span></span>  - ( Диаметр 25см,Высота 26см )
								</div>
								<div class="sizeSelectItem">
									<span class="sizeSelectSpan" data-size="XL"><span class="centerLetter">XL</span></span>  - ( Диаметр 50см,Высота 40см )
								</div>
							</div>
						</div>
						<div class="compositionColorGamma">
							<div class="colorGammaText">
								Цветовая Гамма композиции:
							</div>
							<div class="colorGammaItems">

							<div class="colorGammaRow1">
								<div class="colorSelectItem gammaSelect-js  blueGamma_box">
									<span class="hideColor" data-color="blue">✔</span>
								</div>
								<div class="colorSelectItem gammaSelect-js whiteGamma_box">
									<span class="hideColor" data-color="white">✔</span>
								</div>
								<div class="colorSelectItem 
								gammaSelect-js pinkGamma_box">
									<span class="hideColor" data-color="pink">✔</span>
								</div>
								<div class="colorSelectItem 
								gammaSelect-js yellowGamma_box">
									<span class="hideColor" data-color="yellow">✔</span>
								</div>
								<div class="colorSelectItem gammaSelect-js orangeGamma_box">
									<span class="activeGammaColor-js" data-color="orange">✔</span>
								</div>
								<div class="colorSelectItem gammaSelect-js redGamma_box">
									<span class="hideColor" data-color="red">✔</span>
								</div>
							</div>
							<div class="colorGammaRow2">
								<div class="colorSelectItem gammaSelect-js seablueGamma_box">
									<span class="hideColor" data-color="seablue">✔</span>
								</div>
								<div class="colorSelectItem gammaSelect-js greenGamma_box">
									<span class="hideColor" data-color="green">✔</span>
								</div>
								<div class="colorSelectItem gammaSelect-js darkpinkGamma_box">
									<span class="hideColor" data-color="darkpink">✔</span>
								</div>
								<div class="colorSelectItem gammaSelect-js  purpleGamma_box">
									<span class="hideColor" data-color="purple">✔</span>
								</div>								
								<div class="colorSelectItem gammaSelect-js khakiGamma_box">
									<span class="hideColor" data-color="khaki">✔</span>
								</div>
								<div class="colorSelectItem gammaSelect-js  beigeGamma_box">
									<span class="hideColor" data-color="beige">✔</span>
								</div>	
							</div>

							</div>
						</div>

					</div>
					

					<div class="compositionRight">
						<div class="compositionFlowers">
							<div class="compositionFlowersText">
								Предпочтение по цветам:
							</div>
							<div class="selectFlowers">
								<div class="selectFlowerItem"><span class="selectFlowerBox activeFlower" data-flower="Роза-спрей">
									
								</span>
								Роза-спрей
								</div>
								<div class="selectFlowerItem"><span class="selectFlowerBox activeFlower" data-flower="Роза">
									
								</span>
								Роза
								</div>
								<div class="selectFlowerItem"><span class="selectFlowerBox" data-flower="Альстромерия">
									
								</span>
								Альстромерия</div>
								<div class="selectFlowerItem"><span class="selectFlowerBox" data-flower="Гвоздика">
									
								</span>
								Гвоздика
								</div>
								<div class="selectFlowerItem"><span class="selectFlowerBox" data-flower="Гербера">
									
								</span>
								Гербера
								</div>
								<div class="selectFlowerItem"><span class="selectFlowerBox" data-flower="Гладиолус">
									
								</span>
								Гладиолус
								</div>
								<div class="selectFlowerItem"><span class="selectFlowerBox" data-flower="Гортензия">
									
								</span>
								Гортензия
								</div>
								<div class="selectFlowerItem"><span class="selectFlowerBox" data-flower="Ирис">
									
								</span>
								Ирис
								</div>
								<div class="selectFlowerItem"><span class="selectFlowerBox" data-flower="Лилия">
									
								</span>
								Лилия
								</div>
								<div class="selectFlowerItem"><span class="selectFlowerBox" data-flower="Орхидея">
									
								</span>
								Орхидея
								</div>
								<div class="selectFlowerItem"><span class="selectFlowerBox" data-flower="Пион">
									
								</span>
								Пион
								</div>
								<div class="selectFlowerItem"><span class="selectFlowerBox" data-flower="Ранункулус">
									
								</span>
								Ранункулус
								</div>
								<div class="selectFlowerItem"><span class="selectFlowerBox" data-flower="Тюльпаны">
									
								</span>
								Тюльпаны
								</div>
								<div class="selectFlowerItem"><span class="selectFlowerBox" data-flower="Фрезия">
									
								</span>
								Фрезия
								</div>
								<div class="selectFlowerItem"><span class="selectFlowerBox" data-flower="Хризантема">
									
								</span>
								Хризантема
								</div>
								<div class="selectFlowerItem"><span class="selectFlowerBox" data-flower="Эустома">
									
								</span>
								Эустома
								</div>

							</div>
						</div>
					</div>

<form method="POST" class="compositionForm" id="formx" action="">
<!-- <form method="POST" class="compositionForm" id="formx" action="javascript:void(null);" onsubmit="call()"> -->

<input id="name" class="compositionForm_name" name="name" value="" type="text" placeholder="Имя" required>
<input id="email" class="compositionForm_email" name="email" value="" type="text" placeholder="E-mail" required>
<input id="Text" class="compositionForm_phone" name="phone" value="" type="text" placeholder="Телефон" required> 
<input value="Оформить заказ" class="compositionForm_submit compositionForm-js" type="submit">
</form>
				</div>
			</div>
				
			</div>
		</div>
	</header>
{% endblock %}