{% extends 'base.html' %}


        				<div class="shopItem">
					<div class="shopOverlay">

					</div>
					<div class="shopItemText">
						{{ product_image.product.name }}
					</div>
					<div class="imgBlock">
					<img src="{{ product_image.image.url }}" alt="PinkFloyd">
					</div>
					<div class="shopItemBuy">
						<div class="shopItemBuyPrice">
							{{ product_image.product.price }} грн.
						</div>

						<form action="{% url "cart:CartAdd" product.id %}" method="post">
    {{ cart_product_form }}
    {% csrf_token %}
    <input type="submit" value="Добавить в корзину">
</form>
					</div>
				</div>