<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="{% url 'orders:add_order' %}" method="post">{% csrf_token %}
    customer_email<input type="text" name="customer_email" title="customer_email">
    customer_name<input type="text" name="customer_name" title="customer_name">
    customer_phone_number<input type="text" name="customer_phone_number" title="customer_phone_number">
    box_size<input type="text" name="box_size" title="box_size">
    box_color<input type="text" name="box_color" title="box_color">
    composition_color<input type="text" name="composition_color" title="composition_color">
    flower_preference<input type="text" name="flower_preference" title="flower_preference">

<button type="submit">отправить</button>

</form>



</body>
</html>